.topFooter {
  background-color: rgb(0, 0, 0);
  bottom: 0px;
  color: white;
  position: sticky;
  margin-top: auto;
}
.Footer {
  position:sticky;
  background-color: rgb(53, 53, 53);
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  color: white;
}
.NameOfTable {
  display: inline-block;
  top: 0px;
}
.img {
  height: 15px;
  width: 15px;
  background: none;
  display: fixed;
}

.li {
    margin: 1rem;
}

