@import url("https://fonts.cdnfonts.com/css/roboto");
@import url("https://fonts.cdnfonts.com/css/caudex");
@import url("https://fonts.cdnfonts.com/css/diploma");
@import url('https://fonts.cdnfonts.com/css/tinos');
.nav {
  color: brown;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: rgb(0, 0, 0) 100%;
  object-fit: cover;
  grid-template-columns: repeat(auto-fit, minmax(7vw, 1fr));
  gap: 0.375rem;
  padding: 0.5vw;
  position: sticky;
  top: 0vw;
  height: 5vw;
  z-index: 1000;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  margin: 0.2vw;
  border: 0.13rem inset rgb(77, 94, 114);
  border-radius: 0.5vw;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1vw;
  font-family: "Tinos", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
  width: 9vw;
  height: 3.3vw;
  background: rgb(255, 255, 255);
  cursor: pointer;

}
.categories:hover {
  background: rgb(19, 17, 17);
  color: rgb(255, 88, 88);
  border: 0.153rem inset rgba(199, 199, 199, 0.425);
  width: 11vw;
}

.basket {
  color: rgb(255, 88, 88);
  background-color: rgb(19, 17, 17);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  margin: 0.2vw;
  border: 0.13rem inset rgba(199, 199, 199, 0.425);
  border-radius: 0.5vw;
  font-weight: 600;
  font-size: 1vw;
  font-family: "Tinos", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
  width: 9vw;
  height: 3.3vw;
  cursor: pointer;
}
.basket:hover {
  background: rgb(19, 17, 17);
  color: rgb(255, 88, 88);
  border: 0.153rem inset rgb(255, 88, 88);
  width: 11vw;
}

.basketImg {
  width: 1vw;
}

.navIMG {
  width: 7.5rem;
}

