@import url('https://fonts.cdnfonts.com/css/roboto');
@import url('https://fonts.cdnfonts.com/css/caudex');
@import url('https://fonts.cdnfonts.com/css/diploma');
.nav {
  color: brown;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: rgb(0, 0, 0) 100%;
  object-fit:cover;
  grid-template-columns: repeat(auto-fit, minmax(11vw, 1fr));
  gap: 0.375rem;
  padding: 0.5vw;
  position: sticky;
  top: 0vw
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  margin: 0.2vw;
  border: 0.13rem inset rgb(77, 94, 114);
  border-radius: 0.5vw;
  color: rgb(0, 0, 0);
  font-weight:600;
  font-size: 1vw;
  font-family: 'Diploma', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
  width: 10vw;
  height: 3.75vw;
  background: rgb(255, 255, 255);
}
.categories:hover{
  background: rgb(19, 17, 17);
  color: rgb(255, 88, 88);
  border: 0.153rem inset rgba(199, 199, 199, 0.425);
  width: 100%;
}

.basket {
  display: block;
  padding: 1vw;
  margin: 0.2vw;
  border: 0.13rem inset rgba(199, 199, 199, 0.425);
  border-radius: 13px;
  color: rgb(255, 88, 88);
  font-weight: 80;
  font-size: 1vw;
  background-color: rgb(19, 17, 17);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
  width: 10vw;
  height: 3.75vw;
  right: 0rem;
  font-family: "Caudex", sans-serif;
}

.basketImg{
width: 1vw;
}

.navIMG {
  width: 7.5rem;
}
